.paper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    width:100%;
    margin-top: 394px;
    z-index: 0;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from{
        margin-top: 100%;
    }
    to{
        margin-top: 394px;
    }
}

.paper1 {
    background-image: url("./paper1.svg");
    width:700px;
    height:492px;
    display: flex;
    position: relative;
    z-index: 0;
    transition: transform;
    transform: rotate(-22deg);
    margin-top: 40px;
}

a:hover {
    transform : scale(1.05);
}

.paper2{
    background-image: url("./paper2.svg");
    width:336px;
    height:330px;
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}