.projectBox {
    width: 1000px;
    height: 173px;
    border-radius: 3px;
    display: flex;
    box-sizing: border-box;
    padding: 40px 20px 20px 410px;
    background-image: url("./cardImg.svg");
    margin-bottom: 15px;
    transition: transform 0.5s;
    color: white;
}

.projectContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projectBox:hover {
    transform: scale(1.05);
    color: #D3C3C3;
}

.projectText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Reem-Kufi;
}

.projectTitle {
    font-size: 40px;
}

.projectUsed {
    font-size: 20px;
}

.plus {
    background-image: url("./plus.svg");
    width: 44px;
    height: 44px;
    margin: 20px 0 0 300px;
    cursor : pointer;
}

.plus:hover {
    animation-duration: 1.5s;
    animation-name: spin;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.modalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalImg {
    width: 1000px;
    height: 550px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.modalNext {
    width: 23px;
    height: 50px;
    background-image: url("arrow.svg");
    cursor: pointer;
}

.modalPrev {
    width: 23px;
    height: 50px;
    transform: rotate(180deg);
    background-image: url("arrow.svg");
    cursor: pointer;
}

.modalEx {
    width: 1000px;
    height: 150px;
    background-color: #D3C3C3;
    color: #525252;
    font-size: 20px;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 0 0 20px;
}

.modalExit {
    width: 24px;
    height: 24px;
    background-image: url("exit.svg");
    margin-left: 930px;
    cursor : pointer;
}

.modalExit:hover {
    animation-duration: 1.5s;
    animation-name: spin;
}