.aboutBox {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 200px 0 250px 0;
    height: 600px;
}

.aboutTitle {
    font-family: Reem-Kufi;
    font-size: 30px;
    color: #2D2D2D;
    border-bottom: 3px solid #2D2D2D;
}

.aboutContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
}

.aboutProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressChart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
}

.bar {
    height: 36px;
    border-radius: 4.6px;
    color : white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open-Sans', sans-serif;
    box-sizing: border-box;
    padding: 10px 0 5px 10px;
    display: flex;
    justify-content: left;

    width: 250px;
    background-color: #D3C3C3;
    margin-bottom: 10px;
}