html {
    scroll-behavior: smooth;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: #D3C3C3; text-decoration: none;}

.headerBox {
    display: flex;
    width: 959.7px;
    border-radius: 5.5px;
    height: 56.3px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px 95px 0 95px;
    background-color: black;
    font-family: Reem-Kufi;
    font-size: 18.48px;
    color: white;
    text-decoration: none;
}