.headerBox {
    display: flex;
    width: 959.7px;
    border-radius: 5.5px;
    height: 56.3px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px 95px 0 95px;
    background-color: black;
    font-family: Reem-Kufi;
    font-size: 18.48px;
    color: white;
}

.headerBox div:hover {
    color : #D3A6FF;
}