.footerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -50px;
}

.tri{
    width: 0;
    height: 0;
    border-bottom:50px solid #1D292C;
    border-right: 50px solid transparent;
    border-left: 50px solid  transparent;
}

.content {
    height: 154px;
    width: 100%;
    background-color: #1D292C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    padding: 60px 0;
}

.content div {
    color : #EEE5DB;
}